<html>

<head>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/page.css" rel="stylesheet">
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fpgaol compiling server</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">FPGAOL Compiling Server</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">SUBMIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="jobs">JOBS<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SYSTEM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">ABOUT</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <h3><span class="badge badge-secondary">running</span></h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">SUBMIT_TIME</th>
                    <th scope="col">START_TIME</th>
                    <th scope="col">FINISH_TIME</th>
                </tr>
            </thead>
            <tbody>
                {% for job in running_jobs %}
                <tr>
                    <th scope="row">{{job[0]}}</th>
                    <td>{{job[1]}}</td>
                    <td>{{job[2]}}</td>
                    <td>{{job[3]}}</td>
                </tr>
                {% end %}
            </tbody>
        </table>
        <h3><span class="badge badge-secondary">pending</span></h3>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">SUBMIT_TIME</th>
                    <th scope="col">START_TIME</th>
                    <th scope="col">FINISH_TIME</th>
                </tr>
            </thead>
            <tbody>
                {% for job in pending_jobs %}
                <tr>
                    <th scope="row">{{job[0]}}</th>
                    <td>{{job[1]}}</td>
                    <td>{{job[2]}}</td>
                    <td>{{job[3]}}</td>
                </tr>
                {% end %}
            </tbody>
        </table>

        <h3><span class="badge badge-secondary">finished</span></h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">SUBMIT_TIME</th>
                    <th scope="col">START_TIME</th>
                    <th scope="col">FINISH_TIME</th>
                </tr>
            </thead>
            <tbody>
                {% for job in finished_jobs %}
                <tr>
                    <th scope="row">{{job[0]}}</th>
                    <td>{{job[1]}}</td>
                    <td>{{job[2]}}</td>
                    <td>{{job[3]}}</td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
</body>



</html>